{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "babel/new-cap": "off",
    "no-return-await": "off",
    "semi": [
      2,
      "always"
    ],
    "space-before-function-paren": 0,
    "new-cap": "error",
    "one-var": "off"
  },
  "env": {
    "es6": true,
    "node": true
  }
}